<div class="container" *ngIf="collectionInfo$ | async as collectionInfo; else skeleton">
    <div class="name">
        <span>{{collectionInfo[0]!.name}}</span>
        <span (click)="modalNameEdit()" class="edit edit-collection-name">
            <span nz-icon nzType="edit" nzTheme="outline"></span>
        </span>
    </div>

    <div class="cards-container">
        <ng-container *ngFor="let card of collectionInfo[1]">
            <div class="card" (click)="modalCardEditOpen(card.cardID)">
                <div class="edit" >
                    <span nz-icon nzType="edit" nzTheme="outline"></span>
                </div>
                <div class="card-name">{{card.frontSide}}</div>
            </div>
        </ng-container>

    </div>
    
    <div class="delete-btn">
        <button (click)="deleteCollection()">Delete</button>
    </div>
</div>

<ng-template #skeleton>
    <app-edit-skeleton></app-edit-skeleton>
</ng-template>

<app-modal-window (close)="modalNameEdit()" *ngIf="modalNameEditState">
    <div class="maodal-name-container">
        <div class="title">
            Change collection name
        </div>
        <input type="text" [(ngModel)]="newName">
        <button (click)="changeName()">Save</button>
    </div>
</app-modal-window>

<app-modal-window (close)="modalCardEditClose()" *ngIf="modalCardEditState">
    <ng-container *ngIf="card$ | async as card">
        <app-edit-card 
            [frontSide]="card.frontSide"
            [backSide]="card.backSide"
            [cardID]="card.cardID"
            (save)="saveCard($event)"
            (delete)="deleteCard($event)"
        ></app-edit-card>
    </ng-container>

</app-modal-window>