.container {

    .name {
        text-align: center;
        font-size: 40px;
        margin-top: 60px;

        .edit-collection-name {
            font-size: 20px;
        }
    }

    .cards-container {
        margin-top: 50px;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        place-items: center;
        .card {
            position: relative;
            border-radius: 15px;
            padding: 20px 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 200px;
            width: 150px;
            background-color: #f0ddc4;
            color: #2c2525;
            margin: 10px;
            overflow: hidden;
            word-wrap: break-word;
            word-break: break-all;

            .edit {
                position: absolute;
                top: 10px;
                right: 10px;
            }

            .card-name {
                text-align: center;
                font-size: 20px;
            }
        }
    }
   
    .delete-btn {
        text-align: center;
        margin-top: 50px;
        padding-bottom: 50px;

        button {
            font-size: 50px;
            line-height: 60px;
            padding: 0 30px;
            background-color: #b85c38;
            color: #f0ddc4;
            border-radius: 10px;
        }
    }
    
}

.edit {
    cursor: pointer;
    padding-left: 10px;
    font-size: 20px;
}