<div class="container" *ngIf="collections$ | async as collections; else skeleton">
    
    <div class="btn-container">
        <button class="add" (click)="addCollectionModal()">Add collection</button>
    </div>
    
    <app-collections-block 
    (open)="openCollection($event)" 
    [date]="'Learn Today'" 
    [collections]="collections.today"></app-collections-block>

    <app-collections-block 
    (open)="openCollection($event)" 
    [collections]="collections.late"></app-collections-block>
    
    <app-collections-block 
    (open)="openCollection($event)" 
    [date]="'Not Started'" 
    [collections]="collections.notStarted"></app-collections-block>
</div>

<ng-template #skeleton>
    <app-collections-skeleton></app-collections-skeleton>
</ng-template>

<app-modal-window (close)="addCollectionModal()" *ngIf="addCollectionModalState">
    <div class="modal-create">
        <div class="title">Create collection</div>
        <input [(ngModel)]="collectionName" type="text">
        <button class="button" (click)="createCollection()">Add</button>
    </div>
</app-modal-window>
