<div class="collection" *ngIf="collections.length">
    <div class="title">
        {{date ? date : 'Learn Late'}}
    </div>
    <div class="line"></div>
    <div class="collection-row">
        <div class="collection-card" *ngFor="let collection of collections">
            <div class="info" (click)="openCollection(collection.collectionID)">
                <div class="settings" (click)="$event.stopPropagation()">
                    <span (click)="edit(collection.collectionID)" nz-icon nzType="edit" nzTheme="outline"></span>
                </div>
                <div class="name">
                    {{collection.name}}
                </div>
                <div class="date">
                    {{date ? date : getDate(collection.repeatDates)}}
                </div>
            </div>
        </div>
    </div>
</div>