<div class="container">
    <div class="name">
        <span></span>
        <span class="edit edit-collection-name">
            <span nz-icon nzType="edit" nzTheme="outline"></span>
        </span>
    </div>

    <div class="cards-container">
        <ng-container *ngFor="let card of [1, 2, 3, 4]">
            <div class="card">
                <div class="edit" >
                    <span nz-icon nzType="edit" nzTheme="outline"></span>
                </div>
                <div class="card-name"></div>
            </div>
        </ng-container>

    </div>
</div>