<div class="container">
    <div class="buttons-container">
        <button class="add-card" (click)="modalStateControll()">Add</button>
        <button class="filp" (click)="flipCards()">Filp</button>
        <button [disabled]="disabledShuffle" (click)="shuffleCards()">Shuffle</button>
        <span *ngIf=" collectionStart$ | async as repeat">
            <button *ngIf="repeat" (click)="startLearn()">Start</button>
        </span>
    </div>
    
    <div class="main-container" *ngIf="cards$ | async as cards" >
        <app-slider *ngIf="cards.length; else empty" [cards]="cards" [side]="side"></app-slider>
    </div>

    <ng-template #empty>
        <div class="warning">
            You do not have cards for learn! Add new card
        </div>
    </ng-template>
</div>

<app-modal-window  
    (close)="modalStateControll()" 
    *ngIf="modalState" 
    
>
    <div class="title">
        Add new card
    </div>
    <form [formGroup]="newCardForm" class="form">
        Front side<input maxlength="70" formControlName="front" type="text">
        Back side<input maxlength="70" formControlName="back" type="text">
    </form>
    <div class="btn">
        <button [disabled]="newCardForm.invalid" (click)="addCard()">Add card</button>
    </div>
</app-modal-window>