<div class="container">
    <div class="buttons-container">
        <button class="add-card" (click)="modalStateControll()">Add Card</button>
        <button class="shufle" (click)="shuffleCards()">Shuffle</button>
        <button class="filp" (click)="flipCards()">Filp</button>
    </div>

    <div class="slider" *ngIf="cards.length; else empty" >
        <app-slider [position]="position" [cards]="cards" [side]="side"></app-slider>
    </div>

    <ng-template #empty>
        <div class="warning">
            You do not have cards for learn! Add new card
        </div>
    </ng-template>
</div>

<app-modal-window  
    (close)="modalStateControll()" 
    *ngIf="modalState" 
    [@modal]="modalAnimationState"
>
    <div class="title">
        Add new card
    </div>
    <form [formGroup]="newCardForm" class="form">
        Front side<input maxlength="70" formControlName="front" type="text">
        Back side<input maxlength="70" formControlName="back" type="text">
    </form>
    <div class="btn">
        <button [disabled]="newCardForm.invalid" (click)="addCard()">Add card</button>
    </div>
</app-modal-window>